@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  @apply bg-base-100;
}
